# Author: Markus van Kempen
# Email: mvankempen@ca.ibm.com | markus.van.kempen@gmail.com
# Web: https://markusvankempen.github.io/
.env
.env.*
!.env.example
.run/
__pycache__/
*.pyc
.git/
.gitignore
*.md
!.dockerignore
agent.yaml
agents/
.venv/
venv/
**/.DS_Store
